*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 16px;
    background-color: #222;
}

.header{
	display: flex;
	background-color: #333;
	height: 50px;
	width: 100%;
}

.title {
	display: flex;
	align-items: center;
}

.title h3{
	color: rgb(219, 218, 218);
	font-size: 23px;
}

.icon{
	height: 35px;
	width: 35px;
	padding: 0 15px;
	margin-top: 5px;
}

.calc{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.calc__container{
    background-color: #000;

    width: 600px;
    height: auto;

    border-radius: 0 0 30px 30px;
}

.output__container{
    width: 100%;
}   

.operation{
    width: 600px;
    height: 70px;

    color: #878787;

    font-size: 1.9em;
    font-weight: bold;

    position: relative;
    overflow: hidden;
}
.operation .val{
    position: absolute;

    bottom: 5px;
    right : 10px;
    
    white-space: nowrap;
    overflow: hidden;
}

.res{
    width: 600px;
    height: 50px;

    color: #FFF;

    font-size: 45px;
    font-weight: bold;
    
    overflow: hidden;
    position: relative;
}

.res .val{
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right : 10px;
    
    white-space: nowrap;
    overflow: hidden;
}


.input__container{
    background-color: #333;
    border-radius: 0 0 25px 25px;
    border: 1px solid #1d1d1d;
    height: 340px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row button{
    width: 50px;
    height: 50px;

	color: #fff;

    font-size: 1.5em;

    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin : 8px;

    cursor: pointer;
}

.row button:hover{
    font-weight: bold;
}

.row #calculate{
    color: #FFF;
    background-color: #46e0bc;
    width : 121px;
    border-radius: 50px;
}
.row #delete{
    color: #FFF;
    background-color: #e05046;
}

#division, #multiplication, #subtraction, #addition {
    color: #18b893;
}

.input button span{
    font-size: 0.6em;
    position: absolute;
}

.active-angle{
    background-color: #1d1d1d !important;
    color: #FFF !important;
    border-radius: 10px !important;
}